---
layout: default
---
<!-- -->
{% for post in site.posts limit:1 %}
  <article class="module color-article">
    <h1>
      <a class="red" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h1>
    <time>{{ post.date| date: "%m/%d/%Y" }}</time>
    <p>
      {{ post.excerpt | truncatewords = 200 }}
    </p>
  </article>
{% endfor %}

{% for post in site.posts offset:1 limit:4 %}
  <article class="module color-article">
    <h1>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h1>
    <time>{{ post.date| date: "%m/%d/%Y" }}</time>
    <p>
      {{ post.excerpt | truncatewords = 150}}
    </p>
</article>
{% endfor %}

<section class="module color-article">
  <a href="{{ 'archives' | prepend: site.baseurl }}">More Posts &rarr;</a>
</section>
