.color1 {
    background: linear-gradient($first-bc, $first-bc-secondary);
}
.color2 {
    background: $second-bc;
}
.color3 {
      background: $third-bc;
}
.color4 {
    background: $fourth-bc;
}
.color-article {
    background: $color-article;
}


/*****************************************************************************/
/*
/* Basic
/*
/*****************************************************************************/

body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    background: $body-background;
    background: linear-gradient($body-background, $body-background-second);
}
a {
    text-decoration: none;
    -webkit-transition: color 0.25s ease-in, background 0.25s ease-in;
    -moz-transition: color 0.25s ease-in, background 0.25s ease-in;
    -o-transition: color 0.25s ease-in, background 0.25s ease-in;
    transition: color 0.25s ease-in, background 0.25s ease-in
}

p {
    line-height: $base-line-height;
}
.module {
    margin: $spacing-unit;
    padding: $spacing-unit;
    position: relative;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
    }
}

.main-content {
  width: 65%;
  float:left;
  padding:0;

  a {
    color: $link-color;
    &:hover,
    &:focus {
      color: $link-color-highlight;
    }
  }
  .module {
    margin-left:  3*$spacing-unit;
    margin-right: 2*$spacing-unit;
    //box-shadow: inset 0px 0px 3px 0px rgba(77,77,77,1);
    border-radius: $spacing-unit/3;
  }
}


/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

nav {
  a {
    padding: 0.4em;
    background: $nav-color;
    display:inline-block;
    border-radius: $spacing-unit;
    &:nth-child(2n) {
      margin: 10px;
    }
    &:hover {
      background: $nav-color-highlight;
      border: 0;
      color: white !important;
      // for now
    }
  }
  .module {
    padding-top: $spacing-unit;
  }
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.main-header {
    width: 30%;
    float: right;
    line-height: 1.7;
    text-align: center;
    position: sticky;
    color: $nav-font-color;
    //title
    .module.title{
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;
      border-radius: $spacing-unit 2*$spacing-unit;
      box-shadow: 0px 0px 0px 0px rgba(102,102,102,1);
      border: solid $edge-width $edge-color;
      padding: 0;
      a{color: white;}
    }
    .module.top{
      border-radius: $spacing-unit 0.5*$spacing-unit 0px 0px;
      border: solid $edge-width $edge-color;
      border-bottom: none;
    }
    .module.bottom{
      border-radius: 0px 0px $spacing-unit 0.5*$spacing-unit;
      border: solid $edge-width $edge-color;
      border-top: none;
    }
    .module.middle{
      border: solid $edge-width $edge-color;
      border-top: none;
      border-bottom: none;
    }
    .module{
      padding-top: $spacing-unit/4;
      padding-bottom: $spacing-unit/4;
      margin-bottom: 0;
      margin-top: 0;
      h1 {
        margin: 0;
        font-family: $title-font;
        font-size: $title-font-size;
        ;
      }
    }

    a {
      color: #111;
      font-weight: normal;
      &:hover,
      &:focus {
        color: #000;
      }
    }
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

article {
  p {
    a {
      padding: 0 0 .15em 0;
      display: inline;
      &:hover {
        color: #link-color-highlight !important;
      }
    }
  }
}

time {
    color: #aaa;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
}

hr {
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 50px 0;
}

pre {
    background: #f7f7f7;
    padding: 0.4em;
}

blockquote {
    position: relative;
    border: .1em solid #ddd;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    padding: $spacing-unit;
    background: #f2f2f2;
    -webkit-box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
    -moz-box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
    box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
}
/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media (max-width: 850px) {
    body {
        font-size: large;
    }
    .main-header,
    .main-content {
        width: 100%;
        padding: 0.75em;
    }
    .main-content {
        float: right;
    }
    .main-header {
        float: left;
    }
    .main-header .module {
        margin-left: 0;
    }
    .main-content .module {
        margin-top: 0;
        margin-right: 0;
        margin-left: $spacing-unit;
    }
    article.module {
        margin-left: 1.5em;
        margin-right: 0;
    }
    nav {
        text-align: center;
    }
    nav br {
        display: none;
    }
    nav a {
        margin: 0 0.75em;
    }
}
